.container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin-top: 40px;
}

div.c1 {
	display: flex;
	background: lightblue;
	width: 100%;
	justify-content: space-around;
	
}

span.r1 {
	background: grey;
	align-self: center;
	padding: 10px;
	flex-grow: 2;
	text-align: center;
	margin-left: 17%;

}

span.r2 {
	background: deeppink;
	align-self: center;
	padding: 10px;
}

.c2 {
	background-color: #2ecc71;
	padding: 10px;
}

.c3 {
	background-color: #3498db;
	padding: 10px;
}

.c4 {
	background-color: #ecf0f1;
	padding: 10px;
	text-align: center;
}

.c5 {
	background-color: #ecf0f1;
	padding: 10px;
	text-align: center;
	
}

.c6 {
	background-color: #ecf0f1;
	padding: 10px;
	text-align: center;
	
}

.c7 {
	background-color: #ecf0f1;
	padding: 10px;
	text-align: center;
	
}

.hide {
	visibility: hidden;
}

.correct {
  -webkit-animation-name: correct;
  animation-name: correct;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: green;
	}
	60% {
		background-color: none;
	}
}

@keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: green;
	}
	60% {
		background-color: none;
	}
}

.wrong {
  -webkit-animation-name: wrong;
  animation-name: wrong;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
/*  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}

/*********************************************************************/

.fa-3x {
  font-size: 3em !important;}


