

.container {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin-top: 5px;
	z-index: 2;
	vertical-align: center;
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}
div.c1 {
	display: flex;
	background: #127C22;
	font-family: 'Bangers', cursive;
	width: 100%;
	justify-content: space-around;
	/*border-radius: 25px;*/
	border: 2px solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	/*border-top-left-radius: 2em 0.5em;*/
}

span.r1 {
	background: #127C22;
	color: black;
	align-self: center;
	padding: 10px;
	flex-grow: 2;
	text-align: center;
	margin-left: 17%;
	font-size: 1.5em;


}

span.r2 {
	background: #127C22;
	align-self: center;
	padding: 10px;
	border-top-right-radius: 25px;
}

.c2 {
	background-color: #FFBAAA;
	padding: 10px;
	max-width: 500px;

}

.c3 {
	background-color: #FFBAAA;
	padding: 6px;
}

.c4 {
	position: relative;
	background-color: #5D94FB;
	/*#ecf0f1*/

	padding: 10px;
	text-align: center;
/*	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;*/
}

.c5 {
	/*z-index: 100;*/
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
/*	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-radius: 25px;*/
}

.c6 {
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.c7 {
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.hide {
	visibility: hidden;
}

.correct {
  -webkit-animation-name: correct;
  animation-name: correct;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: #127C22;
	}
	60% {
		background-color: none;
	}
}

@keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: #127C22;
	}
	60% {
		background-color: none;
	}
}

.wrong {
  -webkit-animation-name: wrong;
  animation-name: wrong;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
/*  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}

/*********************************************************************/
#hamburger {
	padding: 10px;
	text-align: right;
	color: #CC4B09;
}	

#menu {
	padding: 10px;
	text-align: right;
	color: #CC4B09;
}	

.flex-menu-container {
	display: flex;
	justify-content: flex-end;
}

.flex-menu {
   padding: 10px;
   /*text-align: right;*/
   color: #CC4B09;
}

.fa-3x {
  font-size: 2em !important;
}

/*************************/

.animate-show {
  -webkit-transition:all linear .3s;
  transition:all linear .3s;
  opacity:1;
}
 
.animate-show.ng-hide {
  opacity:0;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

/*MOVING BACKGROUND ***************************************************/

.scroll{
	z-index: 1;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	zoom: 25%;
	width: 10000px;
	height: 500px;
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('../images/game-scroll.jpg') repeat 0 0;
	-webkit-animation: 30s linear 0s normal none infinite animate;
	-moz-animation: 30s linear 0s normal none infinite animate;
	-ms-animation: 30s linear 0s normal none infinite animate;
	-o-animation: 30s linear 0s normal none infinite animate;
	animation: 30s linear 0s normal none infinite animate;
 
}

.scroll-fast{
	z-index: 1;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	zoom: 25%;
	width: 10000px;
	height: 500px;
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('../images/game-scroll.jpg') repeat 0 0;
	-webkit-animation: 15s linear 0s normal none infinite animate;
	-moz-animation: 15s linear 0s normal none infinite animate;
	-ms-animation: 15s linear 0s normal none infinite animate;
	-o-animation: 15s linear 0s normal none infinite animate;
	animation: 15s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
/**/

body {
	background-color: #DBFCFF;
}

#guess input[disabled] {
    color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}