.all-puzzles {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin-top: 5px;
	z-index: 2;
	vertical-align: center;
	text-align: center;
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	background-color: green;
	border-radius: 4%;
	opacity: 1;
	color: white;
	text-shadow:2px 2px 4px black;
}


.container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin-top: 5px;
	z-index: 2;
	vertical-align: center;
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	font-size: 2em;
}
div.c1 {
	display: flex;
	background: #127C22;
	font-family: 'Bangers', cursive;
	width: 100%;
	justify-content: space-around;
	/*border-radius: 25px;*/
	border: 2px solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	/*border-top-left-radius: 2em 0.5em;*/
	color: white;
	text-shadow:2px 2px 4px black;
}

span.r1 {
	background: #127C22;
	color: white;
	text-shadow:2px 2px 4px black;
	align-self: center;
	padding: 10px;
	flex-grow: 2;
	text-align: center;
	margin-left: 17%;
	font-size: 1.5em;


}

span.r2 {
	background: #127C22;
	align-self: center;
	padding: 10px;
	border-top-right-radius: 25px;
}

.c2 {
	background-color: #FFBAAA;
	padding: 10px;
	max-width: 800px;
	font-weight: bold;

}

.c3 {
	background-color: #FFBAAA;
	padding: 6px;
	font-weight: bold;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

.c4 {
	position: relative;
	background-color: #5D94FB;
	/*#ecf0f1*/

	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Oxygen', sans-serif;
}

.c5 {
	/*z-index: 100;*/
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

.c6 {
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

.c7 {
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

.hide {
	visibility: hidden;
}

.correct {
  -webkit-animation-name: correct;
  animation-name: correct;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: #127C22;
	}
	60% {
		background-color: none;
	}
}

@keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: #127C22;
	}
	60% {
		background-color: none;
	}
}

.wrong {
  -webkit-animation-name: wrong;
  animation-name: wrong;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
/*  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}

/*********************************************************************/
#status {
	padding: 10px;
	text-align: left;
	color: #CC4B09;
}	

#hamburger {
	padding: 10px;
	text-align: right;
	color: #CC4B09;
}	

#menu {
	padding: 10px;
	text-align: right;
	color: #CC4B09;
}	

.flex-menu-container {
	display: flex;
	justify-content: flex-end;
}

.flex-menu {
   padding: 10px;
   /*text-align: right;*/
   color: #CC4B09;
}

.fa-3x {
  font-size: 2em !important;
}

/*************************/

.animate-show {
  -webkit-transition:all linear .3s;
  transition:all linear .3s;
  opacity:1;
}
 
.animate-show.ng-hide {
  opacity:0;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

/*MOVING BACKGROUND ***************************************************/

.scroll{
	z-index: 1;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	zoom: 50%;
	width: 10000px;
	height: 500px;
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('../images/game-scroll.jpg') repeat 0 0;
	-webkit-animation: 30s linear 0s normal none infinite animate;
	-moz-animation: 30s linear 0s normal none infinite animate;
	-ms-animation: 30s linear 0s normal none infinite animate;
	-o-animation: 30s linear 0s normal none infinite animate;
	animation: 30s linear 0s normal none infinite animate;
 
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
/**/

body {
	background-color: #DBFCFF;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #CC4B09;
}

.shake {
  -webkit-animation: .5s linear 0s normal none 1 shake;
  -moz-animation: .5s linear 0s normal none 1 shake;
  -ms-animation: .5s linear 0s normal none 1 shake;
  -o-animation: .5s linear 0s normal none 1 shake;
  animation: .5s linear 0s normal none 1 shake;
}

.shake-again {
  -webkit-animation: .5s linear 0s normal none 1 shake;
  -moz-animation: .5s linear 0s normal none 1 shake;
  -ms-animation: .5s linear 0s normal none 1 shake;
  -o-animation: .5s linear 0s normal none 1 shake;
  animation: .5s linear 0s normal none 1 shake;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%, 30%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

