<h1>ALL PUZZLES</h1>
<h3>Click a puzzle to start</h3>


<table class="table table-hover">
    <thead>
      <tr>
        <th>Puzzle</th>
        <th>description</th>
        <th>Difficulty</th>
        <th>Attempted</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="puzzle in learnPuzzles" ng-click="changeView(puzzle.id)">
        <td>{{puzzle.puzzle}}</td>
        <td>{{puzzle.description}}</td>
        <td>{{puzzle.difficulty}}</td>
        <td>{{puzzle.completed}}</td>
      </tr>

    </tbody>
  </table>