    <div class="modal-content">
		<div id="loginContainer">
			<span>Login With:</span>
			<span id="box-wrap-inner" ng-click=""><img src="http://images.dailytech.com/frontpage/fp__G_is_For_Google_New_Logo_Thumb.png" alt=""></span>
			<span id="box-wrap-inner"><i class="fa fa-facebook-official fa-4x"></i></span>
			<span id="box-wrap-inner"><i class="fa fa-twitter-square fa-4x"></i></span>
		</div>
    </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Puzzle</th>
            <th>description</th>
            <th>Difficulty</th>
            <th>Attempted</th>
            <th>Completed</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="modal-footer">
      <a ng-href="#{{puzzle.id}}" class="modal-action modal-close waves-effect waves-green btn-flat ">Let Me Play!!</a>
    </div>
  </div>


  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
  </div>

  <div class="flex-menu-container">

    <div class="flex-menu" ng-mouseenter="hoverEnter()" ng-mouseleave="hoverExit()">
      <span>
        <i ng-show="hoverOn" class="fa fa-sign-in fa-4x animate-show" id="sign-in" ng-click="githubLogin()"></i>
        <i ng-show="hoverOn" class="fa fa-home fa-4x animate-show" id="home"></i>
        <i ng-show="hoverOn" class="fa fa-question-circle fa-4x animate-show modal-trigger" id="question" href="#modal1"></i>
        <i ng-show="hoverOn" class="fa fa-gamepad fa-4x animate-show" id="gamepad" ng-click="changeView(1001)"></i>
        <i ng-show="hoverOn" class="fa fa-graduation-cap fa-4x animate-show" id="learn" ng-click="changeView(1)"></i>
        <i ng-show="hoverOn" class="fa fa-sign-out fa-4x animate-show" id="sign-out" ng-click="githubLogOut()"></i>
      </span>
      <span id="hamburger">
        <i class="fa fa-bars fa-4x"></i>
      </span>
    </div>
  </div>



<!-- <div ng-bind-html="my_html | to_trusted"></div> -->
<div class="container animated fadeInRight" ng-keypress="keypressAction()">
	<div class="c1">
		<span class="r1">{{puzzle.title}} </i></span>
		<span class="r2"> Hard: {{puzzle.difficulty}}</span>
	</div>
	<div class="c2" ng-bind-html="puzzle.description | to_trusted"></div>
	<div class="c3 angular-with-newlines" style="color:blue;">{{puzzle.stringToSearch}}</div>
	<div class="c4 z-depth-3">
		<form id="gameForm" ng-submit='regexConverter(input, puzzle.stringToSearch, puzzle.regEx) '>
			/<input ng-model="input.guess" id="guess" focus-me="input.guess">/
			<input ng-model="input.flags" style="width: 40px;">
			<input type="submit" id="submit" style="position: absolute; left: -9999px"/>
		</form>
	</div>
	<div class="c5 hide z-depth-3">{{userAnswer}}</div>
	<div class="c6 hide z-depth-3" ng-click="tryAgain()">Press Enter to try again!</div>
	<div class="c7 hide z-depth-3" ng-click="nextPuzzle()">Next Puzzle</div>
</div>



