<h1>Game</h1>
<div class="container">
	<div class="c1">
		<span class="r1">{{puzzle.title}}</span>
		<span class="r2">Hard: {{puzzle.difficulty}}</span>
	</div>
	<div class="c2">{{puzzle.description}}</div>
	<div class="c3">{{puzzle.stringToSearch}}</div>
	<div class="c4">
		<form ng-submit='regexConverter(input)'>
			/<input ng-model="input.guess">/
			<input ng-model="input.flags" style="width: 40px;">
			<input type="submit" style="position: absolute; left: -9999px"/>
		</form>
	</div>
</div>



 