
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>How it works:</h4>
      <p>enter stuff to do good things</p>
      <p>enter stuff to do good things</p>
      <p>enter stuff to do good things</p>
      <p>enter stuff to do good things</p>
    </div>
    <div class="modal-footer">
      <a ng-href="#{{puzzle.id}}" class="modal-action modal-close waves-effect waves-green btn-flat ">Let Me Play!!</a>
    </div>
  </div>
          


<div class="flex-menu-container">
	<div class="flex-menu" ng-mouseover="hoverEnter()" ng-mouseleave="hoverExit()">
		<span>
			<i ng-show="hoverOn" class="fa fa-home fa-3x animate-show" id="home"></i>
			<i ng-show="hoverOn" class="fa fa-question-circle fa-3x animate-show modal-trigger" id="question" href="#modal1"></i>
			<i ng-show="hoverOn" class="fa fa-gamepad fa-3x animate-show" id="gamepad"></i>
			<i ng-show="hoverOn" class="fa fa-graduation-cap fa-3x animate-show" id="learn"></i>
		</span>
		<span id="hamburger">
			<i class="fa fa-bars fa-3x"></i>
		</span>
	</div>
</div>

<div class="container animated fadeInRight">
	<div class="c1">
		<span class="r1">{{puzzle.title}}</span>
		<span class="r2">Hard: {{puzzle.difficulty}}</span>
	</div>
	<div class="c2">{{puzzle.description}}</div>
	<div class="c3 angular-with-newlines">{{puzzle.stringToSearch}}</div>
	<div class="c4 z-depth-3">
		<form ng-submit='regexConverter(input, puzzle.stringToSearch, puzzle.regEx)'>
			/<input ng-model="input.guess">/
			<input ng-model="input.flags" style="width: 40px;">
			<input type="submit" id="submit" style="position: absolute; left: -9999px"/>
		</form>
	</div>
	<div class="c5 hide z-depth-3">{{userAnswer}}</div>
	<div class="c6 hide z-depth-3" ng-click="tryAgain()">Click To Try Again!</div>
	<div class="c7 hide z-depth-3" ng-click="nextPuzzle()">Next Puzzle</div>
</div>



